@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* TODO: we should verify the colors used in the base layer and consolidate it with the colors in tailwind.config.js */
@layer base {
	:root {
		background-color: hsl(0, 0%, 100%);
		color: hsl(222.2, 47.4%, 11.2%);

		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;

		--background-shade: 220 14% 96%;
		--foreground-shade: 240 2% 0%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 0%;

		--border: 214.3 31.8% 91.4%;
		--border-dark: 0 0% 50%;
		--input: 214.3 31.8% 91.4%;

		--card: 220 14% 96%;
		--card-foreground: 222.2 47.4% 11.2%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 5.45 100% 36.67%;
		--destructive-foreground: 210 40% 98%;

		--warning: 48 100% 40%;
		--warning-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		background-color: hsl(240, 0%, 0%);
		color: hsl(213, 31%, 91%);

		--background: 240 0 0%;
		--foreground: 213 31% 91%;

		--background-shade: 240 2% 12%;
		--foreground-shade: 240 12% 100%;

		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--border: 216 34% 17%;
		--border-dark: 0 0% 50%;
		--input: 216 34% 17%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--warning: 48 63% 31%;
		--warning-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
}

/******************************************* 
	Rich Text Styles
*******************************************/

/* Headers */
.rich-text h1 {
	@apply text-4xl font-bold mb-4 text-violet-400;
}

.rich-text h2 {
	@apply text-3xl font-bold mb-4 text-violet-400;
}

.rich-text h3 {
	@apply text-2xl font-bold mb-4 text-violet-400;
}

.rich-text h4 {
	@apply text-xl font-bold mb-4 text-violet-400;
}

.rich-text h5 {
	@apply text-lg font-bold mb-4 text-violet-400;
}

.rich-text h6 {
	@apply text-base font-bold mb-4 text-violet-200;
}

/* Horizontal rules */
.rich-text hr {
	@apply border-gray-300 my-8;
}

.rich-text a {
	@apply text-violet-400 underline;
}

/* Typographic replacements */
.rich-text p {
	@apply mb-4;
}

/* Emphasis */
.rich-text strong {
	@apply font-bold;
}

.rich-text em {
	@apply italic;
}

.rich-text del {
	@apply line-through;
}

/* Blockquotes */
.rich-text blockquote {
	@apply border-l-4 border-gray-400 pl-4 py-2 mb-4;
}

/* Lists */
.rich-text ul {
	@apply list-disc pl-4 mb-4;
}

.rich-text ol {
	@apply list-decimal pl-4 mb-4;
}

.rich-text li {
	@apply mb-2;
}

.rich-text li>ul {
	@apply list-disc pl-4 mb-2;
}

.rich-text li>ol {
	@apply list-decimal pl-4 mb-2;
}

/* Code blocks */
.rich-text pre {
	@apply font-mono bg-gray-900 text-gray-100 rounded p-4 my-6;
}

.rich-text code {
	@apply font-mono bg-gray-900 text-gray-100 rounded px-2 py-1;
}

/* Tables */
.rich-text table {
	@apply w-full border-collapse border-gray-300 my-6;
}

.rich-text th {
	@apply bg-gray-900 text-left py-2 px-4 font-semibold border-b border-gray-300;
}

.rich-text td {
	@apply py-2 px-4 border-b border-gray-300;
}

/* Images */
.rich-text img {
	@apply w-full object-cover rounded-xl my-6;
}

/* Custom containers */
.rich-text .warning {
	@apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
}


/******************************************* 
	React Slideshow Styles
*******************************************/

.react-slideshow-container [aria-label="Previous Slide"] {
	margin-left: 1rem;
}

.react-slideshow-container [aria-label="Next Slide"] {
	margin-right: 1rem;
}


.glow-effect {
	position: relative;
  }
  
  .glow-effect::before {
	content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 46%;
    transform: translate(-50%, -50%);
    background: rgba(229, 229, 230, 0.6);
    filter: blur(74px);
    z-index: -1;
    border-radius: 50%;
  }
  
  .box-shadow{
	box-shadow: inset -5px -20px 20px 8px black;
  }